<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Coffee Subscription</title>
    <link href="subscribe.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <!-- Navigation Bar -->
    <nav class="navbar">
      <ul class="nav-option">
        <li class="nav-item">
            <a href="./../index.html" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a href="./../specials/specials.html" class="nav-link">Specials</a>
        </li>
        <li class="nav-item">
            <a href="./../subscribe/subscribe.html" class="nav-link">Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="./../login/login.html" class="nav-link">Login</a>
      </li>
      </ul>
    </nav>

    <div class = "cover">
      <h1 class="company back"> Insert Title </h1>
      <div class="select">
        <a href="./../specials/specials.html" class="nav-link">Specials</a>
        <a href="./../locate/locate.html" class="nav-link">Locate Me</a>
      </div>
    </div>

    
    <br />
    <!-- Form to get emails inforation about the services we offer -->
    <div class="form1">
      <form>
        <p>
          First Name:
          <input type="text" name="first" size="12" />
        </p>
        <p>
          Last Name:
          <input type="text" name="last" size="12" />
        </p>
        <p>
          Email:
          <input type="email" name="email" size="12" />
        </p>
        <p>
          Phone Number:
          <input type="Phone" name="phonenumber" size="12" />
        </p>
        <p>
          Enter Password:
          <input type="password" name="password" id="password" size="12" />
        </p>
        <p>
          Re-enter Password:
          <input type="password" name="password" size="12" />
        </p>
        <input type="checkbox" name="subscription" size="10" /> Sign up for
        promotional emails
        <br />
        <br />
        <!-- Submit Button -->
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
