<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Coffee Subscription</title>
    <link href="login.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <!-- Navigation Bar -->
    <nav className="navbar">
      <ul className="nav-option">
        <li className="nav-item">
            <a className="nav-link">Home</a>
        </li>
        <li className="nav-item">
            <a  className="nav-link">Specials</a>
        </li>
        <li className="nav-item">
            <a  className="nav-link">Sign Up</a>
        </li>
        <li className="nav-item">
          <a  className="nav-link">Login</a>
      </li>
      </ul>
    </nav>

    <div class = "cover">
      <h1 className="company back"> Insert Title </h1>
      <div className="select">
        <a  className="nav-link">Specials</a>
        <a  className="nav-link">Locate Me</a>
      </div>
    </div>

    
    <br />
    <!-- Form to get emails inforation about the services we offer -->
    <div className="form1">
      <form>
        <p>
          User Name:
          <input type="text" name="first" size="12" />
        </p>
        <p>
          Password:
          <input type="password" id = "password" name="last" size="12" />
        </p>
        
        <p>
          Not Registered? Click <a href="./../subscribe/subscribe.html" className="nav-link">Here</a>
        </p>
        <!-- Submit Button -->
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
